# PROJECT GEGEVENSBANKEN 2018 - DEEL 3: QUERIES

## 1. Inleiding

Cf. het document `prerequisites.pdf` in de `docs` folder.

### 1.1 Software

In eerste instantie moeten de correcte packages geladen worden. We raden **sterk** aan om je ook tot deze packages te beperken, gezien wij de ingevulde methodes zullen runnen op onze eigen machines. 

Zelfde opmerking voor de gebruikte python versie, wij veronderstellen 3.6.

In [21]:
# Benodigde packages

import json            # Package om .json files in te laden (bvb kolomnamen zijn zo opgeslagen)
import getpass         # Package om een paswoordveldje te genereren.
import mysql.connector # MySQL package
import numpy as np
import os
import pandas as pd    # Populaire package voor data-verwerking
import sys

In [22]:
sys.version_info       # Check python versie, wij veronderstellen 3.6

sys.version_info(major=3, minor=6, micro=4, releaselevel='final', serial=0)

### 1.2 Interageren met een gegevensbank

In deze sectie geven we al drie methodes mee om jullie leven al wat makkelijker te maken

- `verbind met GB`
    - Dit is functie die toelaat om gemakkelijk verbinding te maken met een database. De `username`, `hostname` en `gegevensbanknaam` worden als argumenten meegegeven met de functie. Deze functie geeft een `connection` object als output. Zo'n object is wat de `connect()` methode van het `mysql.connector` package teruggeeft. Dit is conform de python DB-API (cf. https://www.python.org/dev/peps/pep-0249/), een soort standaard waaraan python DB packages voldoen. 
    
    Moest deze functie niet correct functioneren op je eigen besturingssysteem: voel je vrij om een variant te schrijven. Bij de correctie gebruiken wij onze eigen implementatie om een mysql `connection` object te maken. Deze functie is dus enkel voor jezelf van belang.
    

- `run_query`  
    - Deze functie runt een gegeven `query` op een gegeven `connectie`, en geeft het resultaat terug.
    
    
- `res_to_df`
    - Deze functie giet het resultaat van een query (`query_result`) in een pandas dataframe, met vooraf gespecifieerde kolomnamen (`column_names`).

In [23]:
def verbind_met_GB(username, hostname, gegevensbanknaam):
    """
    Maak verbinding met een externe gegevensbank
    
    :param  username:          username van de gebruiker, string
    :param  hostname:          naam van de host, string.
                               Dit is in het geval van een lokale server gewoon 'localhost'
    :param  gegevensbanknaam:  naam van de gegevensbank, string.
    :return connection:        connection object, dit is wat teruggeven wordt 
                               door connect() methods van packages die voldoen aan de DB-API
    """
    
    password = getpass.getpass() # Genereer vakje voor wachtwoord in te geven
    
    connection = mysql.connector.connect(host=hostname,
                                         user=username,
                                         passwd=password,
                                         db=gegevensbanknaam)
    return connection


def run_query(connection, query):
    """
    Voer een query uit op een reeds gemaakte connectie, geeft het resultaat van de query terug
    """
    
    # Making a cursor and executing the query
    cursor = connection.cursor()
    cursor.execute(query)
    
    # Collecting the result and casting it in a pd.DataFrame
    res = cursor.fetchall()
    
    return res


def res_to_df(query_result, column_names):
    """
    Giet het resultaat van een uitgevoerde query in een 'pandas dataframe'
    met vooraf gespecifieerde kolomnamen.
    
    Let op: Het resultaat van de query moet dus exact evenveel kolommen bevatten
    als kolomnamen die je meegeeft. Als dit niet het geval is, is dit een indicatie
    dat je oplossing fout is. (Gezien wij de kolomnamen van de oplossing al cadeau doen)
    
    """
    df = pd.DataFrame(query_result, columns=column_names)
    return df

### 1.3 Kolomnamen en input parameters

We leggen op voorhand reeds de **kolomnamen van de oplossingen**, en de **naam en types van de inputparameters** vast. Hier moet je je dus aan houden en mag je dus niks aan wijzigen.

- Het aantal kolommen (en hun volgorde) van jullie oplossing en de onze moeten exact overeen komen, vandaar dat de kolomnamen hieronder gegeven zijn. Dit komt trouwens van pas bij het opstellen van je queries! 
    
    
- Dankzij de voorbeeldparameters, die al gegeven zijn in de functiedefinitie e.g., 
        query_42(connection, col_names, super_voorbeeldparam = 101)
  weten jullie exact welke vorm en type (integer, lijst, etc) de inputparameters zullen hebben. Wijzig zeker niets aan de naam van die parameters (i.e.,*super_voorbeeldparam* blijft *super_voorbeeldparam*). De default waarden die we ingevuld hebben zijn ter illustratie, zorg ervoor dat je query ook met andere waarden dan de defaults werkt!

**Oplossingen die deze vorm niet respecteren, zullen crashen op onze machines en resulteren in een score van 0 op die query.**

In [24]:
# Dictionary van kolomnamen inladen

filename = os.path.join(os.getcwd(), 'solution', 'all_q_colnam.json')
col_names = json.load(open(filename, 'r'))    

col_names # Inspecteer dictionary

{'query_01': ['tname', 'year', 'HomeRun'],
 'query_02': ['nameFirst', 'nameLast', 'birthYear', 'birthMonth', 'birthDay'],
 'query_03': ['nameFirst', 'nameLast', 'tname'],
 'query_04': ['tname', 'rank', 'W', 'L', 'nameFirst', 'nameLast'],
 'query_05': ['tname'],
 'query_06': ['tname', 'yearID', 'rank', 'W', 'L'],
 'query_07': ['nameLast', 'nameFirst'],
 'query_08': ['birthState',
  'avg_weight',
  'avg_height',
  'avg_HomeRun',
  'avg_Saves'],
 'query_09': ['yearID', 'tname', 'HomeRun'],
 'query_10': ['yearID', 'tname', 'rank', 'Games']}

## 2. Hoe deze notebook in te vullen

Hieronder volgen 10 onvolledige methodes/functies (e.g., `query_42(c, col_names, super_voorbeeldparam = ['joske', 'jef'])`). Aan jullie om ze aan te vullen zodat:
    1. Een correcte query gegenereerd wordt
    2. De query uitgevoerd wordt
    3. Het resultaat wordt teruggegeven in een Pandas DataFrame

Voor stap 2 en 3 zijn de nodige methodes al voorhanden, i.e.: `run_query(connection, query)` en `res_to_df(res, column_names)`. Jullie werk zal dus vooral bestaan uit stap 1, queries genereren.
  
    
    
Elke functie heeft minstens 2 inputargumenten:
    1. `connection`:   Een connection object 
    2. `column_names`: De kolomnamen van het Pandas DataFrame
    
Gevolgd door eventuele extra argumenten (e.g., `super_voorbeeldparam = ['joske','jef']`) van de inputparameters. 

**Nogmaals: verander niets aan de namen van de methodes, namen van de parameters en de kolomnamen van de resulterende DataFrames. Wijzigingen hieraan leiden onvermijdelijk tot een score van 0 op die query.**

Je kan naar believen extra cellen toevoegen om je queries te testen, resultaten te inspecteren etc. We vragen jullie om de finale, ingevulde methodes te kopiÃ«ren naar een extern script dat enkel en alleen deze oplossingen bevat. Cf. de laatste sectie voor instructies omtrent het effectieve indienen.

## 3. Voorbeeld

Om jullie al wat op weg te zetten volgt hier een voorbeeldje over hoe je te werk kan gaan.

### 3.1 Query EXAMPLE

**Beschrijving**

Het resultaat van deze functie is een Pandas DataFrame met teamnaam, jaar en aantal homeruns van teams die meer dan een gegeven aantal *`homeruns`* hadden in dat jaar.

In [25]:
def query_EX(connection, column_names, homeruns=20):
    # Bouw je query
    query="""
    select t.name, t.yearID, t.HR
    from Teams as t
    where t.HR > {};
    """.format(homeruns) # TIP: Zo krijg je parameters in de string (samen met `{}` in de string)
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

Eerst maken we een verbindingsobject met de databank

In [26]:
username = 'root'      # Vervang dit als je via een andere user queries stuurt
hostname = 'localhost' # Als je een databank lokaal draait, is dit localhost.
db = 'lahman2016'      # Naam van de gegevensbank op je XAMPP Mysql server

# We verbinden met de gegevensbank
c = verbind_met_GB(username, hostname, db)

Â·Â·Â·Â·Â·Â·Â·Â·

Vervolgens runnen we onze query, en inspecteren we het resultaat.

In [11]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_01'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_EX(c, col_names['query_01'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

NameError: name 'col_names' is not defined

En we runnen onze query nogmaals met een andere waarde voor de parameter `jaar`

In [12]:
# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_EX(c, col_names['query_01'], homeruns=250)

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

NameError: name 'c' is not defined

## 4. Queries

### 4.1 Query 01

**Beschrijving**

Het resultaat van deze functie is een Pandas dataframe met: de teamnaam, het jaar, en het aantal homeruns per team, en dit voor alle teams, gesorteerd op aantal homeruns van hoog naar laag.

In [27]:
def query_01(connection, column_names):
    # Bouw je query
    query="""
    SELECT t.name, t.yearID, t.HR
    FROM Teams as t
    ORDER BY t.HR DESC;
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [28]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_01'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_01(c, col_names['query_01'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

                          tname  year  HomeRun
0              Seattle Mariners  1997      264
1                 Texas Rangers  2005      260
2             Baltimore Orioles  1996      257
3             Toronto Blue Jays  2010      257
4             Baltimore Orioles  2016      253
5                Houston Astros  2000      249
6                 Texas Rangers  2001      246
7              Seattle Mariners  1996      245
8              New York Yankees  2012      245
9              New York Yankees  2009      244
10             Seattle Mariners  1999      244
11            Toronto Blue Jays  2000      244
12            Oakland Athletics  1996      243
13             New York Yankees  2004      242
14            Chicago White Sox  2004      242
15             New York Yankees  1961      240
16             Colorado Rockies  1997      239
17                Texas Rangers  2003      239
18            Oakland Athletics  2000      239
19               Boston Red Sox  2003      238
20               Anaheim Angels  2000      236
21            Chicago White Sox  2006      236
22            Chicago White Sox  2008      235
23               Atlanta Braves  2003      235
24          St. Louis Cardinals  2000      235
25         San Francisco Giants  2001      235
26            Oakland Athletics  1999      235
27                 Chicago Cubs  2004      235
28             Seattle Mariners  1998      234
29            Toronto Blue Jays  2015      232
...                         ...   ...      ...
2805          Baltimore Orioles  1890        2
2806            Boston Red Caps  1878        2
2807      Altoona Mountain City  1884        2
2808        New Haven Elm Citys  1875        2
2809         Brooklyn Atlantics  1875        2
2810       Pittsburg Alleghenys  1884        2
2811             Buffalo Bisons  1879        2
2812            Milwaukee Grays  1878        2
2813        Hartford Dark Blues  1875        2
2814           New York Mutuals  1871        1
2815      Middletown Mansfields  1872        1
2816  St. Louis Brown Stockings  1877        1
2817         Brooklyn Atlantics  1874        1
2818         Baltimore Canaries  1874        1
2819     Cleveland Forest Citys  1872        0
2820   Philadelphia Centennials  1875        0
2821    St. Louis Red Stockings  1875        0
2822  St. Louis Brown Stockings  1875        0
2823       Washington Nationals  1875        0
2824    Chicago White Stockings  1877        0
2825    Chicago White Stockings  1875        0
2826          Milwaukee Brewers  1884        0
2827            Keokuk Westerns  1875        0
2828        Elizabeth Resolutes  1873        0
2829          Brooklyn Eckfords  1872        0
2830         Brooklyn Atlantics  1872        0
2831        St. Paul White Caps  1884        0
2832        Baltimore Marylands  1873        0
2833       Washington Nationals  1872        0
2834        Washington Olympics  1872        0

[2835 rows x 3 columns]

## Query 2
**Beschrijving**

Het resultaat van deze functie is een Pandas dataframe met: de voornaam, achternaam, geboortejaar, geboortemaand, geboortedag van spelers die hun eerste major league appearance maakten na een gegeven *`datum`*. 

De tabel is oplopend alfabetisch gesorteerd op achternaam.

In [29]:
def query_02(connection, column_names, datum = '1980-11-16'):
    # Bouw je query
    query="""
    SELECT p.nameFirst, p.nameLast, p.birthYear, p.birthMonth, p.birthDay
    FROM Master as p
    WHERE p.debut > '{}'
    ORDER BY p.nameLast ASC;
    """.format(datum)
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [30]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_02'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_02(c, col_names['query_02'], datum='1980-01-16')

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

      nameFirst     nameLast  birthYear  birthMonth  birthDay
0         David      Aardsma       1981          12        27
1          Andy         Abad       1972           8        25
2      Fernando         Abad       1985          12        17
3          Jeff       Abbott       1972           8        17
4           Jim       Abbott       1967           9        19
5          Kurt       Abbott       1969           6         2
6          Kyle       Abbott       1968           2        18
7          Paul       Abbott       1967           9        15
8        Reggie  Abercrombie       1980           7        15
9         Brent    Abernathy       1977           9        23
10        Shawn        Abner       1966           6        17
11       Johnny       Abrego       1962           7         4
12        Bobby        Abreu       1974           3        11
13         Jose        Abreu       1987           1        29
14         Juan        Abreu       1985           4         8
15         Tony        Abreu       1984          11        13
16      Winston        Abreu       1977           4         5
17       Jeremy      Accardo       1981          12        18
18         Jose      Acevedo       1977          12        18
19         Juan      Acevedo       1970           5         5
20      Alfredo       Aceves       1982          12         8
21        A. J.       Achter       1988           8        27
22          Jim        Acker       1958           9        24
23       Dustin       Ackley       1988           2        26
24        Manny       Acosta       1981           5         1
25         Mark         Acre       1968           9        16
26    Cristhian       Adames       1991           7        26
27       Austin        Adams       1986           8        19
28        David        Adams       1987           5        15
29         Lane        Adams       1989          11        13
...         ...          ...        ...         ...       ...
7008     Victor     Zambrano       1975           8         6
7009      Mauro       Zarate       1983           2         8
7010       Jeff        Zaske       1960          10         6
7011        Rob    Zastryzny       1992           3        26
7012      Gregg         Zaun       1971           4        14
7013       Clay       Zavada       1984           6        28
7014      Clint      Zavaras       1967           1         4
7015      Lance     Zawadzki       1985           5        26
7016       Josh         Zeid       1987           3        24
7017       Todd        Zeile       1965           9         9
7018       Chad        Zerbe       1972           4        27
7019       Brad      Ziegler       1979          10        10
7020      Steve         Ziem       1961          10        24
7021       Jeff    Zimmerman       1972           8         9
7022     Jordan    Zimmerman       1975           4        28
7023       Ryan    Zimmerman       1984           9        28
7024     Jordan   Zimmermann       1986           5        23
7025    Charlie         Zink       1979           8        26
7026       Alan       Zinter       1968           5        19
7027      Barry         Zito       1978           5        13
7028        Ben      Zobrist       1981           5        26
7029      Peter   Zoccolillo       1977           2         6
7030      Eddie        Zosky       1968           2        10
7031        Jon        Zuber       1969          12        10
7032      Julio       Zuleta       1975           3        28
7033       Joel       Zumaya       1984          11         9
7034       Mike       Zunino       1991           3        25
7035        Bob       Zupcic       1966           8        18
7036       Paul      Zuvella       1958          10        31
7037       Tony         Zych       1990           8         7

[7038 rows x 5 columns]

### 4.3 Query 03

**Beschrijving**

Het resultaat van deze functie is een Pandas dataframe dat per club: de clubnaam en de voor- en achternaam van alle managers weergeeft, die ooit voor de club gewerkt hebben als niet-playermanager. Per club mag een welbepaalde manager slechts 1 keer in het resultaat voorkomen. 

Sorteer oplopend alfabetisch op clubnaam.

In [35]:
def query_03(connection, column_names):
    # Bouw je query
    query="""
    SELECT DISTINCT t.name, m.nameFirst, m.nameLast
    FROM     Teams as t, 
             (SELECT DISTINCT man.teamID, man.plyrMgr, p.nameFirst, p.nameLast
              FROM	 Master p JOIN Managers man 
              ON p.playerID = man.playerID) as m
    WHERE    m.plyrMgr = 'N'
    AND		 m.teamID = t.teamID
    ORDER BY t.name ASC;
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [36]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_03'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_03(c, col_names['query_03'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

                  nameFirst nameLast      tname
0     Altoona Mountain City       Ed     Curtis
1            Anaheim Angels     Mike   Scioscia
2            Anaheim Angels      Joe     Maddon
3            Anaheim Angels    Terry    Collins
4      Arizona Diamondbacks     Alan   Trammell
5      Arizona Diamondbacks     Buck  Showalter
6      Arizona Diamondbacks       Al   Pedrique
7      Arizona Diamondbacks      Bob     Melvin
8      Arizona Diamondbacks    A. J.      Hinch
9      Arizona Diamondbacks     Chip       Hale
10     Arizona Diamondbacks     Kirk     Gibson
11     Arizona Diamondbacks      Bob     Brenly
12           Atlanta Braves    Eddie    Mathews
13           Atlanta Braves    Clyde       King
14           Atlanta Braves    Billy  Hitchcock
15           Atlanta Braves    Bobby       Wine
16           Atlanta Braves      Ted     Turner
17           Atlanta Braves      Joe      Torre
18           Atlanta Braves    Chuck     Tanner
19           Atlanta Braves    Brian    Snitker
20           Atlanta Braves      Ken  Silvestri
21           Atlanta Braves   Connie       Ryan
22           Atlanta Braves     Russ      Nixon
23           Atlanta Braves      Lum     Harris
24           Atlanta Braves    Eddie       Haas
25           Atlanta Braves    Fredi   Gonzalez
26           Atlanta Braves    Bobby        Cox
27           Atlanta Braves     Dave    Bristol
28           Atlanta Braves    Bobby     Bragan
29           Atlanta Braves     Vern     Benson
...                     ...      ...        ...
1640    Washington Senators    Frank   Robinson
1641    Washington Senators      Jim  Riggleman
1642    Washington Senators     John    McLaren
1643    Washington Senators    Davey    Johnson
1644    Washington Senators   Arthur      Irwin
1645    Washington Senators    Billy     Barnie
1646    Washington Senators    Dusty      Baker
1647    Washington Senators    Manny       Acta
1648    Washington Senators   George    McBride
1649    Washington Senators    Jimmy    McAleer
1650    Washington Senators      Jim    Manning
1651    Washington Senators      Tom     Loftus
1652    Washington Senators   Cookie  Lavagetto
1653    Washington Senators      Joe      Kuhel
1654    Washington Senators   Walter    Johnson
1655    Washington Senators    Bucky     Harris
1656    Washington Senators    Clark   Griffith
1657    Washington Senators    Chuck    Dressen
1658    Washington Senators      Joe  Cantillon
1659    Washington Senators    Ossie     Bluege
1660    Washington Senators    Eddie       Yost
1661    Washington Senators      Ted   Williams
1662    Washington Senators   Mickey     Vernon
1663    Washington Senators      Jim      Lemon
1664    Washington Senators      Gil     Hodges
1665   Washington Statesmen      Sam      Trott
1666  Wilmington Quicksteps      Joe    Simmons
1667    Worcester Ruby Legs     Jack    Chapman
1668    Worcester Ruby Legs  Freeman      Brown
1669    Worcester Ruby Legs    Frank   Bancroft

[1670 rows x 3 columns]

### 4.4 Query 04

**Beschrijving**

Het resultaat van deze functie is een Pandas dataframe met gegevens van teams (teamnaam, rang, aantal wins en losses) en van managers (voor- en achternaam) zodanig dat
1. de desbetreffende manager is opgenomen in de hall of fame na *`datum x`* 
2. de manager in kwestie was ooit, na *`datum y`*, manager van het team in kwestie

De tabel moet gesorteerd zijn op teamnaam en rang (alfabetisch oplopend).

In [39]:
def query_04(connection, column_names, datum_x='1980-01-01', datum_y='1980-01-01'):
    # Bouw je query
    query="""
SELECT DISTINCT
    t.name,
    t.rank,
    t.W,
    t.L,
    m.nameFirst,
    m.nameLast
FROM
    Teams AS t,
    (
    SELECT DISTINCT
        k.nameFirst,
        k.nameLast,
        k.teamID
    FROM
        HallOfFame AS h
    JOIN(
        SELECT DISTINCT
            p.nameFirst,
            p.nameLast,
            m.teamID,
            m.playerID
        FROM
            Managers AS m
        JOIN Master AS p
        ON
            p.playerID = m.playerID
        AND m.yearID > '{}'
    ) AS k
ON
    k.playerID = h.playerID
WHERE
    h.yearID > '{}'
AND h.inducted = 'Y'
) as m
WHERE t.teamID = m.teamID
ORDER BY
    t.name ASC, t.rank ASC;
    """.format(datum_x, datum_y)
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [40]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_04'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_04(c, col_names['query_04'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

                     tname  rank    W    L nameFirst  nameLast
0           Atlanta Braves     1   90   72     Bobby       Cox
1           Atlanta Braves     1   88   74     Bobby       Cox
2           Atlanta Braves     1  101   59       Joe     Torre
3           Atlanta Braves     1  106   56       Joe     Torre
4           Atlanta Braves     1  101   59     Bobby       Cox
5           Atlanta Braves     1  106   56     Bobby       Cox
6           Atlanta Braves     1   94   68       Joe     Torre
7           Atlanta Braves     1   94   68     Bobby       Cox
8           Atlanta Braves     1  103   59       Joe     Torre
9           Atlanta Braves     1   96   66       Joe     Torre
10          Atlanta Braves     1  103   59     Bobby       Cox
11          Atlanta Braves     1   96   66     Bobby       Cox
12          Atlanta Braves     1   98   64       Joe     Torre
13          Atlanta Braves     1   98   64     Bobby       Cox
14          Atlanta Braves     1   89   73       Joe     Torre
15          Atlanta Braves     1   89   73     Bobby       Cox
16          Atlanta Braves     1   93   69       Joe     Torre
17          Atlanta Braves     1  104   58       Joe     Torre
18          Atlanta Braves     1   93   69     Bobby       Cox
19          Atlanta Braves     1   95   67       Joe     Torre
20          Atlanta Braves     1   90   54       Joe     Torre
21          Atlanta Braves     1  104   58     Bobby       Cox
22          Atlanta Braves     1  101   61       Joe     Torre
23          Atlanta Braves     1   95   67     Bobby       Cox
24          Atlanta Braves     1   90   54     Bobby       Cox
25          Atlanta Braves     1  101   61     Bobby       Cox
26          Atlanta Braves     1   90   72       Joe     Torre
27          Atlanta Braves     1   88   74       Joe     Torre
28          Atlanta Braves     2   91   71       Joe     Torre
29          Atlanta Braves     2   91   71     Bobby       Cox
...                    ...   ...  ...  ...       ...       ...
1670     Toronto Blue Jays     5   74   88     Bobby       Cox
1671     Toronto Blue Jays     5   76   86     Bobby       Cox
1672     Toronto Blue Jays     5   56   88     Bobby       Cox
1673     Toronto Blue Jays     5   67   94     Bobby       Cox
1674     Toronto Blue Jays     6   78   84     Bobby       Cox
1675     Toronto Blue Jays     7   67   95     Bobby       Cox
1676     Toronto Blue Jays     7   59  102     Bobby       Cox
1677     Toronto Blue Jays     7   37   69     Bobby       Cox
1678     Toronto Blue Jays     7   53  109     Bobby       Cox
1679     Toronto Blue Jays     7   54  107     Bobby       Cox
1680  Washington Nationals     1   96   66     Frank  Robinson
1681  Washington Nationals     1   98   64     Frank  Robinson
1682  Washington Nationals     1   95   67     Frank  Robinson
1683  Washington Nationals     2   83   79     Frank  Robinson
1684  Washington Nationals     2   86   76     Frank  Robinson
1685  Washington Nationals     3   80   81     Frank  Robinson
1686  Washington Nationals     4   73   89     Frank  Robinson
1687  Washington Nationals     5   69   93     Frank  Robinson
1688  Washington Nationals     5   71   91     Frank  Robinson
1689  Washington Nationals     5   59  102     Frank  Robinson
1690  Washington Nationals     5   81   81     Frank  Robinson
1691  Washington Nationals     5   59  103     Frank  Robinson
1692   Washington Senators     6   61   71     Frank  Robinson
1693   Washington Senators     9   58   73     Frank  Robinson
1694   Washington Senators    10   58   93     Frank  Robinson
1695   Washington Senators    10   43   85     Frank  Robinson
1696   Washington Senators    11   51  101     Frank  Robinson
1697   Washington Senators    11   45   87     Frank  Robinson
1698   Washington Senators    11   54   98     Frank  Robinson
1699   Washington Senators    12   40   89     Frank  Robinson

[1700 rows x 6 columns]

### 4.5 Query 05

**Beschrijving**

Het resultaat van deze functie is een Pandas dataframe dat de naam van de teams bevat die na 1980 minstens 1 manager hebben gehad die speler-manager was. 

De tabel moet oplopend gesorteerd worden op teamnaam. De tabel mag geen dubbels bevatten.

In [41]:
def query_05(connection, column_names):
    # Bouw je query
    query="""
    SELECT DISTINCT t.name
    FROM Teams as t 
    WHERE (SELECT COUNT(*)
       FROM Managers as m 
       WHERE m.teamID = t.teamID 
       AND m.yearID > 1980 
       AND m.plyrMgr = 'Y') > 0 
    ORDER BY t.name;
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [42]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_05'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_05(c, col_names['query_05'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

                tname
0  Cincinnati Redlegs
1     Cincinnati Reds

### 4.6 Query 06

**Beschrijving**

Het resultaat van deze functie is een Pandas dataframe dat bestaat uit de teamnaam, rang, jaar, aantal wins en losses van de teams waarvan dat jaar alle spelers die bij dat team speelden, meer verdienden bij dat team dan *`salaris`*.

Sorteer de gegevens volgens oplopend aantal wins.

In [45]:
def query_06(connection, column_names, salaris=20000):
    # Bouw je query
    query="""
    SELECT DISTINCT t.name, t.Rank, t.yearID, t.W, t.L
    FROM Teams as t
    WHERE NOT EXISTS
        (SELECT *
        FROM Salaries as s
        WHERE s.yearID = t.yearID
            AND s.teamID = t.teamID
            AND s.salary < '{}')
    ORDER BY t.W ASC;
    """.format(salaris)
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [46]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_06'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_06(c, col_names['query_06'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

                         tname  yearID  rank    W   L
0          Baltimore Marylands       9  1873    0   6
1         Washington Nationals      11  1872    0  11
2              Keokuk Westerns      13  1875    1  12
3           Brooklyn Atlantics      11  1875    2  42
4          Elizabeth Resolutes       8  1873    2  21
5     Philadelphia Centennials      11  1875    2  12
6          St. Paul White Caps       9  1884    2   6
7          Washington Olympics      10  1872    2   7
8        Wilmington Quicksteps      12  1884    2  16
9            Brooklyn Eckfords       9  1872    3  26
10       Rockford Forest Citys       9  1871    4  21
11     St. Louis Red Stockings      10  1875    4  15
12       Middletown Mansfields       8  1872    5  19
13        Washington Nationals       9  1875    5  23
14       Altoona Mountain City      10  1884    6  19
15      Cleveland Forest Citys       7  1872    6  16
16        Fort Wayne Kekiongas       7  1871    7  12
17         New Haven Elm Citys       8  1875    7  40
18           Milwaukee Brewers       2  1884    8   4
19        Washington Blue Legs       7  1873    8  31
20          Baltimore Canaries       8  1874    9  38
21          Brooklyn Atlantics       6  1872    9  28
22             Cincinnati Reds       8  1876    9  56
23      Cleveland Forest Citys       8  1871   10  19
24         Richmond Virginians      10  1884   12  30
25        Washington Nationals      13  1884   12  51
26              Troy Haymakers       6  1871   13  15
27      Philadelphia Athletics       7  1876   14  45
28           Baltimore Orioles       6  1890   15  19
29             Cincinnati Reds       6  1877   15  42
...                        ...     ...   ...  ...  ..
2803              Chicago Cubs       1  1910  104  50
2804              Chicago Cubs       2  1909  104  49
2805            Detroit Tigers       1  1984  104  58
2806          New York Yankees       1  1963  104  57
2807         Oakland Athletics       1  1988  104  58
2808    Philadelphia Athletics       1  1929  104  46
2809            Boston Red Sox       1  1912  105  47
2810          Brooklyn Dodgers       1  1953  105  49
2811           New York Giants       1  1905  105  48
2812       St. Louis Cardinals       1  1943  105  49
2813       St. Louis Cardinals       1  1944  105  49
2814       St. Louis Cardinals       1  2004  105  57
2815            Atlanta Braves       1  1998  106  56
2816           New York Giants       1  1904  106  47
2817          New York Yankees       1  1939  106  45
2818       St. Louis Cardinals       1  1942  106  48
2819              Chicago Cubs       1  1907  107  45
2820          New York Yankees       1  1932  107  47
2821    Philadelphia Athletics       1  1931  107  45
2822         Baltimore Orioles       1  1970  108  54
2823           Cincinnati Reds       1  1975  108  54
2824             New York Mets       1  1986  108  54
2825         Baltimore Orioles       1  1969  109  53
2826          New York Yankees       1  1961  109  53
2827          New York Yankees       1  1927  110  44
2828        Pittsburgh Pirates       1  1909  110  42
2829         Cleveland Indians       1  1954  111  43
2830          New York Yankees       1  1998  114  48
2831              Chicago Cubs       1  1906  116  36
2832          Seattle Mariners       1  2001  116  46

[2833 rows x 5 columns]

### 4.7 Query 07

**Beschrijving**

Het resultaat van deze functie is een Pandas dataframe dat de achternaam en voornaam bevat van alle managers die tijdens hun carriere alle awards hebben gewonnen.

Sorteer oplopend alfabetisch op achternaam.

In [51]:
def query_07(connection, column_names):
    # Bouw je query
    query="""
    SELECT DISTINCT m.nameLast, m.nameFirst 
    
    FROM Master as m
    WHERE   (SELECT COUNT(DISTINCT playerID, awardID)
            FROM  AwardsManagers as aw
            WHERE m.playerID = aw.playerID)
        =
            (SELECT COUNT(DISTINCT awardID)
            FROM AwardsManagers as aw)
    ORDER BY m.nameLast ASC;
    """
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [52]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_07'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_07(c, col_names['query_07'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

      nameLast nameFirst
0         Alou    Felipe
1     Anderson    Sparky
2        Baker     Dusty
3       Baylor       Don
4        Black     Buddy
5        Bochy     Bruce
6         Bowa     Larry
7          Cox     Bobby
8         Frey       Jim
9   Gardenhire       Ron
10      Gibson      Kirk
11     Girardi       Joe
12     Guillen     Ozzie
13      Herzog    Whitey
14      Hurdle     Clint
15     Johnson     Davey
16       Kelly       Tom
17      Lanier       Hal
18     LaRussa      Tony
19     Leyland       Jim
20      Maddon       Joe
21      Manuel     Jerry
22    McNamara      John
23      Melvin       Bob
24       Oates    Johnny
25        Pena      Tony
26    Piniella       Lou
27    Robinson     Frank
28     Rodgers      Buck
29    Scioscia      Mike
30   Showalter      Buck
31     Torborg      Jeff
32       Torre       Joe
33       Tracy       Jim
34       Wedge      Eric
35    Williams      Jimy
36    Williams      Matt
37      Zimmer       Don

### 4.8 Query 08

**Beschrijving**

Het resultaat van deze functie is een Pandas DataFrame dat voor een gegeven jaar een aantal statistieken van alle staten bevat waarbij de gemiddelde lengte van alle spelers geboren in die staat en opgenomen in de hall of fame na *`jaar`* groter is dan *`lengte`*. 

Voor die staten moet de tabel de volgende statistieken bevatten: het gemiddelde gewicht, de gemiddelde lengte, het gemiddeld aantal batting homeruns, en het gemiddeld aantal pitching saves van alle spelers (geboren in die staat) die in de hall of fame zijn opgenomen na *`jaar`*.

Sorteer oplopend alfabetisch op staat.

Nb. Lengte is uitgedrukt in inches.

In [53]:
def query_08(connection, column_names, jaar=1990, lengte=75):
    # Bouw je query
    query="""
    SELECT p.birthState, AVG(p.weight), AVG(p.height), AVG(bat.HR), AVG(pitch.SV)
    FROM Master as p, Batting as bat, Pitching as pitch, HallOfFame as hof
    WHERE p.playerID = pitch.playerID AND p.playerID = bat.playerID
        AND p.playerID = hof.playerID AND hof.yearid > '{}' AND hof.inducted = 'Y'
    GROUP BY p.birthState
    HAVING AVG(p.height) > {}
    ORDER BY p.birthState ASC 
    """.format(jaar, lengte)
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [54]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_08'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_08(c, col_names['query_08'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

  birthState avg_weight avg_height avg_HomeRun avg_Saves
0         CA   203.4006    76.4475      0.2154    5.8279
1         FL   210.0000    76.0000      0.4815    0.0741
2         NC   205.0000    76.0000      0.2400    0.4400
3         ON   205.0000    77.0000      0.6500    0.3500

### 4.9 Query 09

**Beschrijving**

Het resultaat van deze functie geeft een Pandas dataframe terug dat bestaat uit het jaar, de naam en het aantal homeruns uit de Teams tabel van het team met het 2e meeste aantal homeruns in *`jaar`*.

In [71]:
def query_09(connection, column_names, jaar=1979):
    # Bouw je query
    query="""
    SELECT t1.yearID, t1.name, t1.HR
    FROM   (SELECT t.yearID, t.name, t.HR
            FROM   Teams as t
            WHERE  t.yearID = '{}') as t1
    WHERE  (SELECT COUNT(*)
            FROM   (SELECT t.HR
                    FROM   Teams as t
                    WHERE  t.yearID = '{}') as t2
            WHERE  t1.HR < t2.HR)
            = 1;
    """.format(jaar, jaar)
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [72]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_09'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_09(c, col_names['query_09'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

   yearID              tname  HomeRun
0    1979  Milwaukee Brewers      185

### 4.10 Query 10

**Beschrijving**

Het resultaat van deze functie is een Pandas DataFrame dat voor een gegeven *`jaar`*; teamnaam, rang, en aantal gespeelde games van de teams weergeeft die in dat *`jaar`* ten minste 1 speler hebben die datzelfde *`jaar`* exact 1 trofee won.

Sorteer op teamnaam en rang.

In [57]:
def query_10(connection, column_names, jaar=1990):
    # Bouw je query
    query="""
SELECT
  DISTINCT team.yearID,
  team.name,
  team.R,
  team.G
FROM
  (	  SELECT
      DISTINCT t.name,
      t.yearID,
      t.R,
      t.G
    FROM
      (
        SELECT
          DISTINCT Teams.name,
          Teams.yearID,
          Teams.R,
          Teams.G,
          Salaries.playerID
        FROM
          Teams
          , Salaries 
        WHERE
          Teams.yearID = '{}'
          AND Salaries.teamID = Teams.teamID
      ) as t
    WHERE
      (
        SELECT
          COUNT(*)
        FROM
          AwardsPlayers as ap
        WHERE
          t.playerID = ap.playerID
          AND ap.yearID = '{}'
      ) = 1
  ) as team
ORDER BY
  team.name ASC,
  team.R ASC;
    
    """.format(jaar, jaar)
    
    # Stap 2 & 3
    res = run_query(connection, query)         # Query uitvoeren
    df = res_to_df(res, column_names)          # Query in DataFrame brengen
    
    return df

In [58]:
# De voorbeeldquery heeft dezelfde kolomnamen als query 1, dus we gebruiken die
kolommen = col_names['query_10'] 

# Functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_10(c, col_names['query_10'])

# We inspecteren de eerste paar resultaten (voor alles te zien: laat .head() weg)
df

    yearID                  tname  rank  Games
0     1990         Atlanta Braves   682    162
1     1990      Baltimore Orioles   669    161
2     1990         Boston Red Sox   699    162
3     1990      California Angels   690    162
4     1990           Chicago Cubs   690    162
5     1990      Chicago White Sox   682    162
6     1990        Cincinnati Reds   693    162
7     1990      Cleveland Indians   732    162
8     1990         Detroit Tigers   750    162
9     1990         Houston Astros   573    162
10    1990     Kansas City Royals   707    161
11    1990    Los Angeles Dodgers   728    162
12    1990      Milwaukee Brewers   732    162
13    1990        Minnesota Twins   666    162
14    1990         Montreal Expos   662    162
15    1990          New York Mets   775    162
16    1990       New York Yankees   603    162
17    1990      Oakland Athletics   733    162
18    1990  Philadelphia Phillies   646    162
19    1990     Pittsburgh Pirates   733    162
20    1990       San Diego Padres   673    162
21    1990   San Francisco Giants   719    162
22    1990       Seattle Mariners   640    162
23    1990    St. Louis Cardinals   599    162
24    1990          Texas Rangers   676    162
25    1990      Toronto Blue Jays   767    162

## 5. Hoe en wat in te dienen?

Nu je alle queries ingevuld en getest hebt, ben je klaar om je taak in te dienen.

- Maak een leeg bestand aan, en geef het de bestandsnaam met formaat: `dd_X_groep_YY.py`.
    - `dd` verwijst naar de dag van je oefenzitting, e.g. `wo` voor woensdag
    - `X`  is een integer die verwijst naar de volgnummer van je oefenzitting op die dag, e.g. `1`
    - `YY` zijn twee integers die verwijzen naar de volgnummer van je groepje, e.g.: `03`
    -  Een goede bestandsnaam is dus bijvoorbeeld: `wo_1_groep_03.py`


- Kopieer alle **INGEVULDE FUNCTIES EN NIETS ANDERS** naar dit script. Het script bevat dus enkel en alleen de methodes:
    - query_01(connection, column_names)
    - query_02(connection, column_names, datum = '1980-01-16')
    - etc, etc


- Voor de eerste 3 queries kan je dan je oplossing al eens testen via de verification notebook!
    - Eerst wordt je script automatisch gerund met verschillende parameters
    - De (eventuele) resultaten worden opgeslagen in csv files (in de `out` folder)
    - Die csv files worden vergeleken met de csv files van de oplossing (te vinden in de `solution` folder).
    - Elke query krijgt een score toegekend. Cf. https://en.wikipedia.org/wiki/F1_score.  
    - Een kort rapport wordt weergegeven die je pointers kan geven over wat er mis is met je query. 
        - TP: True Positives
        - TN: True Negatives
        - FP: False Positives
        

- Als je oplossing definitief is, submit je je `dd_X_groep_YY.py` via Toledo.